@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-base {
    @apply focus:outline-none inline-flex justify-center items-center rounded-md cursor-pointer;
  }

  .btn {
    @apply btn-base text-c-text bg-gray-400/10 hover:text-c-brand;
  }

  .btn-primary {
    @apply btn-base bg-c-brand text-white hover:bg-c-brand-light;
  }

  .btn-hollow {
    @apply btn-base border-2 border-c-brand text-c-brand hover:bg-c-brand hover:text-white;
  }

  .btn-text {
    @apply btn-base text-c-text hover:text-c-brand;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--c-bg);
  color: var(--c-text);
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

svg {
  display: initial;
}
